<!DOCTYPE html>
<html>
    <head>
        <title>Mai</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="talkSpace"></div>
        <form method="post">
            {{form.hidden_tag()}}
        </form>
    </body>
</html>